{% extends 'htmls/main.html' %}

{% block content %}
{% load mathfilters %}
<p>Сейчас открыта история</p>
{% for i in hist %}
{{i.money}}
<div style="display: flex; flex-direction: row; height: fit-content; align-items: center;">
{% if i.endprice > 0 %}
<p style="color: green; font-weight: 800; font-size: 1.2vw; height: fit-content; margin: 0;">+</p>
{{ i.endprice }}
{% else %}
<p style="color: red; font-weight: 800; font-size: 1.2vw; height: fit-content; margin: 0">-</p>
{{ i.endprice|mul:"-1" }}
{% endif %}
</div>
{{empty}}
{% endfor %}
{% endblock %}