<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Investings</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<header>
    <div><a href="{% url 'home' %}">Главная</a></div>
    <div>
        <a href="{% url 'history' %}">История</a>
        {% if user.is_authenticated %}
        <a href="{% url 'profile' %}">{{ user }}</a>
        <a href="{% url 'logout' %}">Выход</a>
        {% else %}
        <a href="{% url 'signup' %}">Регистрация</a>
        <a href="{% url 'login' %}">Вход</a>
        {% endif %}
    </div>
</header>

<body>

{% block content %}
<ul>
    {% for value in prices %}
    
    <li>
        <div>
        <p>{{ value.1 }}</p>
        <p>{{ value.2 }}</p>
        </div>
        <div>
            {% if user.is_authenticated %}
            <button>
                <a href="{% url 'buy' value.0 %}">Купить</a>
            </button>
            <button>
                Продать
            </button>
            {% endif %}
        </div>
    </li>

    {% endfor %}
</ul>
{% endblock %}
{% block login %}
{% endblock %}
</body>

</html>