{% extends 'htmls/main.html' %}

{% block content %}

<form method="post">  
    {% csrf_token %}  
    {% if form.errors %}  
        <div class="alert alert-danger">  
            {{ form.errors }}  
        </div>  
    {% endif %}
    {% for field in form %}
        {% if field.name != 'moneyid' and field.name != 'user' %}
            <p class="form-label">{{ field.label }}</p>
        {% endif %}
            <p>{{ field }}</p>
    {% endfor %}  
    <button type="submit" class="btn btn-outline-success">Продать</button>  
    <a href="/">Отмена</a> 
</form>

<script>
    document.getElementsByName('count')[0].onchange = function(){
        document.getElementsByName('endprice')[0].value = document.getElementsByName('count')[0].value * document.getElementsByName('price')[0].value
    }
</script>
{% endblock %}