{% extends 'htmls/main.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/log.css' %}">
{% endblock %}

{% block login %}
<div id="log">
<p>Регистрация</p>
<form method="post">
{% csrf_token %}
{% for f in form %}
    <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
<button type="submit">Ок</button>
<a href="/">Отмена</a> 
</form>
</div>
{% endblock %}